@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
.headerContainer {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    color: white;
}
.headerContainer h1 {
    font-size: 30px;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}
.headerContainer h3 {
    background-color: blue;
    padding: 3px;
    border-radius: 0 5px 5px 0;
}
.headerContainer span {
    color: rgb(187, 187, 187);
    margin-left: 10px;
    font-size: 15px;
}
.container {
    display: flex;
    max-width: 900px;
    margin: 40px auto;
    gap: 80px;
}
.container .leftSide {
    flex: 1;
}
.container .leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3a4b5c;
}
.container .leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6a7d8b;
}
.container .leftSide input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
}
.container .leftSide button {
    background-color: #227c9d;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.3s;
}
.container .leftSide button:hover {
    opacity: 0.8;
}

.container .rightSide {
    flex: 1;
}